node_modules
**/node_modules
.git
.gitignore
.env
frontend/.env.local
frontend/.next
backend-rs/target
storage/uploads/*
storage/subtitles/*
storage/output/*
storage/temp/*
storage/data/*.sqlite
!storage/uploads/.gitkeep
!storage/subtitles/.gitkeep
!storage/output/.gitkeep
!storage/temp/.gitkeep
!storage/data/.gitkeep
